/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Raleway:200);

$blue: #08f;
$text-gray: #333;
$hover-background-color: #f7f7f7;

$box-shadow: 0 0 22px 0 rgba(181, 181, 181, 1);
$box-shadow-hover: 0 0 40px 0 rgba(181, 181, 181, 1);

body {
  color: $text-gray;
  font-family: 'Raleway', sans-serif;
}

.title {
  text-align: center;
  color: $text-gray;
}

#content {
  width: 450px;
  margin: auto;
}

h3 {
  margin: 5px 0;
}

.place {
  box-shadow: $box-shadow;
  border-bottom: 2px solid $blue;
  margin: 20px;
  padding: 5px;

  &:hover {
    box-shadow: $box-shadow-hover;
    background-color: $hover-background-color;
    transition: 0.25s ease-in-out;
  }
}
